.venv/
venv/
Clean_Data/
Raw_Data/
Raw_Data/pbp.csv
Pipeline/nfl_pro
Pipeline/nfl_verse/test.ipynb
Pipeline/nfl_verse/github/last_pull.txt
Pipeline/supabase/query.txt
test.ipynb
.env
Pipeline/.DS_Store
Pipeline/Tests/pfr_scrapers/
Pipeline/Tests/test_data/
Pipeline/Tests/pfr_scrapers/get_team_offense.py
.DS_Store
Pipeline/.DS_Store

__pycache__/
*.py[cod]
*$py.class

